/*Footer*/
footer {
  position: relative;
  text-align: right;
  bottom: 0;
  width: 100%;
  padding-bottom: 16px;
}

/*Redes*/
.redes {
  display: flex;
  position: relative;
  justify-content: right;
  padding: 20px;}

.redes1:hover {

  filter: opacity(0.9);
  transform: scale(1.5);
}

h2 {
  color: #CD6F99;
  text-align: center;
}

p {
  text-align: center;
}

/*Redes*/
.App-logo {
  margin: 10px;
}

/*Grid Cards*/

.grid-card {
  padding: 50px;
  margin-left: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  }

.carrito {margin-right: 20px
  ;}


.App-banner {width: 100%;}